<footer class="footer pv4 white grad-footer relative {{ if eq (relURL .URL) ("/" | safeHTML) }}curve-out pt6-ns m-neg-nav-ns{{ end }}">
	<div class="mw7 center ph3 pt4-m">
		<div class="flex justify-between flex-wrap">
			<div class="w-15-m">
				<ul class="mb3 f6">
					<li><img src="/img/logo-white.svg" alt="Seccl logo" class="db w4 br0"></li>
					<li>
						<span class="f5 pv3 db">We’re rebuilding the infrastructure of investments and advice</span>
					</li>
					<li>
						<a class="flex minw-170 h1" href="https://www.octopusgroup.com">
							<span class="di f7">part of</span>
							<img src="/img/oct-logo-white.svg" alt="Octopus logo" class="br0 db mb0 w2 pl1 pt1p" alt="Octopus Group logo"/>
						</a>
					</li>
					<li class="pt4 mw4">
						<ul class="f6 flex justify-between flex-wrap">
							<li class="minw1"><a href="https://www.linkedin.com/company/seccl-technology" target="_blank" rel="noreferrer"><img src="/img/icons-linkedin.svg" alt="Seccl linkedin" class="social-icon"/></a></li>
							<li class="minw1"><a href="https://twitter.com/SecclTech" target="_blank" rel="noreferrer"><img src="/img/icons-twitter.svg" alt="Seccl twitter" class="social-icon"/></a></li>
							<li class="minw1"><a href="https://www.facebook.com/SecclTech" target="_blank" rel="noreferrer"><img src="/img/icons-facebook.svg" alt="Seccl facebook" class="social-icon"/></a></li>
							<li class="minw1"><a href="https://www.instagram.com/seccltech/" target="_blank" rel="noreferrer"><img src="/img/icons-instagram.svg" alt="Seccl instagram" class="social-icon"/></a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="w-50 w-15-m">
				<ul class="mb3 f6">
					<li class="pb2 b">Services</li>
					<li><a href="#" class="link-subtle f7 dn">Platform technology</a></li>
					<li><a href="{{ "/platform/" | relURL }}" class="link-subtle f7">Functionality</a></li>
					<li><a href="{{ "/how/" | relURL }}" class="link-subtle f7">How it works</a></li>
					<li><a href="{{ "/pricing/" | relURL }}" class="link-subtle f7">Pricing</a></li>
				</ul>
			</div>
			<div class="w-50 w-15-m">
				<ul class="mb3 f6">
					<li class="pb2 b">Legal</li>
					<li><a href="/terms/" class="link-subtle f7">Terms</a></li>
					<li><a href="/privacypolicy/" class="link-subtle f7">Privacy policy</a></li>
					<li><a href="/orderexecution/" class="link-subtle f7">Order execution</a></li>
				</ul>
			</div>
			<div class="w-50 w-15-m">
				<ul class="mb3 f6">
					<li class="pb2 b">Company</li>
					<li><a href="{{ "/about/" | relURL }}" class="link-subtle f7">About us</a></li>
					<li><a href="{{ "/team/" | relURL }}" class="link-subtle f7">Team</a></li>
					<li><a href="#" class="link-subtle f7 dn">Technology</a></li>
					<li><a href="{{ "/careers/" | relURL }}" class="link-subtle f7">Careers</a></li>
					<li><a href="{{ "/blog/" | relURL }}" class="link-subtle f7">Blog</a></li>
				</ul>
			</div>
			<div class="w-50 w-15-m" >
				<ul class="mb3 f6">
					<li class="pb2 b">Help and resources</li>
					<li><a href="https://faq.seccl.tech" target="_blank" rel="noreferrer" class="link-subtle f7">FAQ & due diligence</a></li>
					<li><a href="https://learn.seccl.tech" target="_blank" rel="noreferrer" class="link-subtle f7">Tutorials & support</a></li>
					<li><a href="https://developers.seccl.tech" target="_blank" rel="noreferrer" class="link-subtle f7">API documentation</a></li>
					<li><a href="{{ "/contact/" | relURL }}" class="link-subtle f7">Get a demo</a></li>
					<li><a href="#" onclick="Beacon('open'); return false;" class="link-subtle f7">Chat to us</a></li>
				</ul>
			</div>
		</div>

		<hr class="mv3">

		<div class="f8 pv3">
			Seccl Technology Limited is a company registered in England and Wales at 20 Manvers St, Bath, BA1 1JW (Number: 10237930).
			Seccl Custody Limited, a wholly owned subsidiary of Seccl Technology Limited, is registered in England and Wales (Number: 10430958), and authorised and regulated by the Financial Conduct Authority (Firm Reference Number: 793200).
			Copyright © 2020 Seccl Technology Limited
		</div>
	</div>

</footer>
