<div class="pv3 pt5-ns pb0-ns bg-off-white relative curve-out">
	<div class="ph3 mw7 center">

		<div class="flex flex-column flex-row-ns mhn2-l relative z-1">
			<div class="w-100 w-70-ns pr4-ns pr3-ns pb3 order-1 order-0-ns">
				<h2 class="f3 l lh-title mb2 tc">{{.heading}}</h2>

				<p class="f6 ma0 tc">{{.text}}</p>
				<div class="flex flex-column items-center justify-center shadow-1 br1 mv4">
					<ul class="flex flex-column flex-wrap flex-row-ns justify-between w-100 ph3 pt3">
						{{ range .data }}
						<li class="flex flex-column flex-1 items-center item-data lh-title pv2">
							<span class="f3 secondary font-primary l">{{.text}}</span>
							<span> {{.subtext}}</span>
						</li>
						{{end }}
					</ul>
						<span class="f7 mt3 w-100 tc mb3">{{.source}}</span>
				</div>
				<a href="{{ .ctaurl }}"{{ if eq .externallink true }} target="_blank" rel="noreferrer" {{ end }}>
					<button class="btn center">{{ .buttontext }}</button>
				</a>

			</div>
			<div class="w-30-l relative order-0 order-1-ns">
				<div class="img-round">
					<picture>
		        <source data-srcset="{{.imagewebp}}" type="image/webp">
		        <source data-srcset="{{.image}}" type="image/jpeg"> 
		        <img data-src="{{.image}}" alt="{{.alt}}" class="mb3 lazyload">
		      </picture>
				</div>
			</div>
			
		</div>	
	</div>
</div>
