.arrow-down {
  transform: translateY(-45%) rotate(45deg);
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: block;
  height: 3px;
  margin: 0 0 3px 10px;
  width: 3px;
  padding: 3px;
  position: absolute;
  top: 46%;
  right: var(--spacing-medium);
}

.arrow-left-black {
  transform: translateY(-45%) rotate(-225deg);
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 0px;
  width: 0px;
  padding: 3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.arrow-right-pink,
.arrow-left-pink,
.arrow-right-white {
  transform: translateY(45%) rotate(-45deg);
  border: solid var(--pink);
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 0px;
  width: 0px;
  padding: 3px;
  position: absolute;
  margin: 0;
}

.arrow-right-white {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
}

.bp3-popover-arrow-container {
  background-color: transparent;
  height: 20px;
  position: absolute;
  top: -20px;
  width: 100%;
  left: 0;
}

.bp3-popover-arrow-border {
  fill: #10161a;
  fill-opacity: .1;
}
.bp3-popover-arrow-fill {
  fill: #ffffff;
}

.bp3-popover-arrow {
  width: 40px;
  transform: rotate(-180deg);
  position: absolute;
  bottom: -26px;
  left: calc(50% - var(--spacing-medium));
}

.bp3-popover-arrow svg {
  transform: rotate(-90deg);
}

/* blockquote styling */

cite {
  width: max-content;
}

cite::before {
  content: '' !important;
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--grey-1);
  position: absolute;
  top: -15px;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, -50%);
}
